@charset "UTF-8";
	p {
		word-break:normal;
	}
    .m55 {
        margin: 5px 10px 5px 0;
    }
    .ml5 {
        margin: 5px 10px 5px 10px;
    }
    .main {
        height: auto;
    }
    .list-box {
        display: inline-block;
        height: auto;
        margin-bottom: 5px;
    }
    .list-left {
        float: left;
        width: 58px;
        margin-left: -58px;
    }
    .list-left img {
        width: 35px;
        margin-left: 10px;
        margin-top: 5px;
    }
    .list-right {
        height: auto;
        margin-left: 58px;
    }
    .list-a {
        color: #0084B4;
        margin-top: 5px;
        font-size: 16px;
    }
    .list-b {
        line-height: 25px;
        height: 25px;
    }
    .list-b span {
        float: left;
        color: #ccc;
        font-size: 12px;
        width: 50%;
    }
    .list-c {
        font-size: 16px;
        line-height: 25px;
    }
    .tl {text-align: right;}
    .list-d {
        margin-right: 10px;
        display: inline-block;
        height: auto;
        background: rgb(238,238,238);
    }
    .list-d-a {
        font-weight: bold;
        font-size: 14px;
        line-height: 25px;
    }
    .list-d-b {
        line-height: 25px;
        font-size: 14px;
        color: #ccc;
    }
    .list-d-c img {
        max-width: 80px;
        height: auto;
    }
    .list-e {
        position: relative;
        border-bottom: solid 1px #ccc;
    }
    .list-e .list-e-a {
        height: 25px;
        line-height: 25px;
    }
    .list-e-a i {
        float: left;
    }
    .icon-a {
        width: 30px;
        height: 25px;
        background: url(../res/repo.png) no-repeat;
        background-size: cover;
    }
    .icon-b {
        width: 30px;
        height: 25px;
        background: url(../res/comment.png) no-repeat;
        background-size: cover;
    }
    .icon-c {
        width: 30px;
        height: 25px;
        background: url(../res/favor.png) no-repeat;
        background-size: cover;
    }
    .par50 {
        position: absolute;
        right: 45%;
    }
    .par10 {
        position: absolute;
        right: 10px;
    }